<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="EPMS_StatisticsEntities" connectionString="metadata=res://*/EPMS_StatisticsEntityModel.csdl|res://*/EPMS_StatisticsEntityModel.ssdl|res://*/EPMS_StatisticsEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=UK010321;Initial Catalog=EPMS_Statistics;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key ="SuppliersToCheck" value="EMIS"/>
	  <!-- <add key ="SMTPIPAddress" value="192.168.4.190"/>  -->
    <!-- <add key ="SMTPPortNumber" value ="25"/> -->
  </appSettings>
	<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network">
				<network defaultCredentials="true" host="localhost" port="25"/>
			</smtp>
		</mailSettings>
	</system.net>
  <system.diagnostics>
    <sources>
      <source name ="ActivityMonitorTraceSource"
              switchName ="sourceSwitch"
              switchType ="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name ="LogFileListener"
               type ="System.Diagnostics.TextWriterTraceListener"
               initializeData ="ActivityMonitor.log">
            <filter type ="System.Diagnostics.EventTypeFilter"
                    initializeData ="Information"/>
          </add>
        </listeners>
      </source>
    </sources>
    <switches>
      <add name ="sourceSwitch" value ="Information"/>
    </switches>
  </system.diagnostics>
</configuration>