<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="EPMS_StatisticsEntities" connectionString="metadata=res://*/EPMS_StatisticsEntityModel.csdl|res://*/EPMS_StatisticsEntityModel.ssdl|res://*/EPMS_StatisticsEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=UK010321;Initial Catalog=EPMS_Statistics;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key ="SuppliersToCheck" value="EMIS"/>
	  <add key ="SMTPIPAddress" value="192.168.4.190"/>
	  <add key ="SMTPPortNumber" value ="25"/>
  </appSettings>
</configuration>